<p>Email: <%= @user.email %></p>
<p>Created events:</p>
<ul>
  <% @user.created_events.each do |event| %>
    <%= render event %>
  <% end %>
</ul>
<p>Attended events:</p>
<div class="occured">
  <p>Past events</p>
  <ul>
    <% @user.attended_events.where("date <= :today", {today: Date.current}).each do |event| %>
      <%= render event %>
    <% end %>
  </ul>
</div>
<div class="will-occur">
  <p>Upcoming events</p>
  <ul>
    <% @user.attended_events.where("date > :today", {today: Date.current}).each do |event| %>
      <%= render event %>
    <% end %>
  </ul>
</div>
