<p>Email: <%= @user.email %></p>
<p>Events:</p>
<ul>
  <% @user.created_events.each do |event| %>
    <li>
      <p>Date: <%= event.date %></p>
      <p>Location: <%= event.location %></p>
    </li>
  <% end %>
</ul>