<h1>Edit event</h1>
<% if @event %>
  <div class="edit-event-form">
    <%= render "event_form", event: @event %>
  </div>
<% else %>
  <p>This event does not exists or you don't have permission to change it</p>
<% end %>
