<h1>Events</h1>
<div>
  <div class="events_group">
    <h2>Past events</h2>
    <% @events.past_events.each do |event| %>
      <ul>
        <%= render event do |ev| %>
          <% if current_user.attended_events.where(id: ev.id).exists? %>
            <p>Registed</p>
          <% else %>
            <%= link_to "Register", new_event_attendance_path(ev.id) %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="events_group">
    <h2>Upcoming events</h2>
    <% @events.upcoming_events.each do |event| %>
      <ul>
        <%= render event do |ev| %>
          <% if current_user.attended_events.where(id: ev.id).exists? %>
            <p>Registed</p>
          <% else %>
            <%= link_to "Register", new_event_attendance_path(ev.id) %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
