<h1>Events</h1>
<div>
  <div class="events_group">
    <h2>Past events</h2>
    <% @events.past.each do |event| %>
      <ul>
        <%= render event%>
      </ul>
    <% end %>
  </div>
  <div class="events_group">
    <h2>Upcoming events</h2>
    <% @events.upcoming.each do |event| %>
      <ul>
        <%= render event %>
      </ul>
    <% end %>
  </div>
</div>
