<div class="event_new">
  <% if @event.errors.any? %>
    <div id="error_explaintion">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Create a new event:</h1>
  <div class="edit-event-form">
  <%= render "event_form", event: @event %>
</div>
</div>